@media only screen and (max-width: 480px){

    .container{
        width: 330px;
    }
    .header-menu{
        display: none;
    }
    .copa-america{
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-bottom: 50px;
    }
    .half-width .copa-title{
        font-size: 36px;
        margin-top: 0;
    }
    .half-width img{
        margin-top: 50px;
    }
    /* players section  */
    .players{
        grid-template-columns: 1fr;
    }
     /* Sponsor */

     .sponsors {
        height: auto;
        flex-direction: column;
    }

    .sponsors img {
        width: 250px;
        margin: 20px;
    }
    /* highlights section  */
    .highlights-area{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .highlights{
        grid-template-columns: 1fr;
    }
    .highlight-title{
        font-size: 30px;
    }
    /* footer section  */
    .footer-area{
        margin-top: 50px;
    }
    .footer-area .logo{
        height: 50px;
    }
}